In [3]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000142B84A98D0>

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("CREATE DATABASE mydatabase")

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

# Create Table

In [5]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "mydatabase"  
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000142B84B2BE0>

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS customers (name VARCHAR(255), address VARCHAR(255))")

In [ ]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

### Primary Key

In [ ]:
# CREATE TABLE IF NOT EXISTS
mycursor.execute("CREATE TABLE IF NOT EXISTS customers (name VARCHAR(255), address VARCHAR(255))")

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [ ]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

In [ ]:
# ALTER TABLE
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

### Insert Multiple Rows

In [ ]:
# INSERT INTO
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

# Select

In [10]:
# SELECT
mycursor = mydb.cursor(buffered=True)
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)

In [13]:
# fetchone()
# mycursor = mydb.cursor(buffered=True)
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()
print(myresult)

('John', 'Highway 21', 1)

# WHERE